@using MilestoneMotorsWebApp.Business.Utilities
@inject IHttpContextAccessor contextAccessor
@model MilestoneMotorsWebApp.App.ViewModels.GetUserCarsViewModel

@{
    ViewData["Title"] = "MyListings";
}

@{
    var isAuthenticated = !string.IsNullOrEmpty(contextAccessor.HttpContext.Session.GetString("JwtToken"));

    string? userId = null;

    if (isAuthenticated)
    {
        var jwtToken = contextAccessor.HttpContext.Session.GetString("JwtToken");

        if (!string.IsNullOrEmpty(jwtToken))
        {
            var tokenHandler = new System.IdentityModel.Tokens.Jwt.JwtSecurityTokenHandler();
            var jsonToken = tokenHandler.ReadToken(jwtToken) as System.IdentityModel.Tokens.Jwt.JwtSecurityToken;

            if (jsonToken != null)
            {
                userId = jsonToken.Claims.FirstOrDefault(claim => claim.Type == "nameid")?.Value;
            }
        }
    }
}

<partial name="_ErrorNotification"/>

<article class="my-listing">
    <div class="album py-5">
        <div class="container card">
            <div class="row my-listing-container" style="padding:20px 0;">

                @if (Model == null || Model.Cars.Count() == 0)
                {
                    <div class="text-center" style="margin-top: 100px;">
                        <h4 class="display-4">
                            <i class="bi bi-box" style="font-size: 1.5em; margin-right: 5px;"></i>
                            <strong>Oops!</strong> - <span>Looks like there's nothing here.</span>
                        </h4>
                        <a asp-controller="Home" asp-action="Create" class="create-listing-btn">
                            <i class="bi bi-plus" style="font-size: 1.5em;"></i>
                            <span>Create New Listing</span>
                        </a>
                    </div>

                }
                else
                {
                    @foreach (var car in Model.Cars)
                    {
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <a asp-controller="Home" asp-action="Detail" asp-route-id="@car.Id">
                                    <div style="max-height: 214.5px; min-height: 214.5px; overflow: hidden;">
                                        @if(!string.IsNullOrWhiteSpace(car.HeadlinerImageUrl))
                                        {
                                            <img style="width: 100%; height: 100%; object-fit: cover;" class="card-img-top" src="@car.HeadlinerImageUrl" alt="@string.Concat(car.Brand, " ", car.Model, " ", car.ManufacturingYear)" />
                                        } else
                                        {
                                            <img style="width: 100%; height: 100%; object-fit: cover;" class="card-img-top" src="https://placehold.co/600x400?text=Milestone+Motors" alt="@string.Concat(car.Brand, " ", car.Model, " ", car.ManufacturingYear)" />
                                        }
                                    </div>
                                </a>
                                <div class="card-body" style="min-height: 250px; max-height: 250px;">
                                    <p class="card-text">
                                        @string.Concat(car.Brand, " ", car.Model, " ", car.ManufacturingYear)
                                    </p>
                                    <p class="card-text" style="margin-bottom: 4px;">
                                        <strong>
                                            @ConvertToEuroMethod.ConvertToEuro(car.Price)
                                        </strong>
                                    </p>
                                    <p class="card-text" style="min-height: 52.8px; max-height: 52.8px;">
                                        @{
                                            var description = car.Description;
                                            string charsAllowed;
                                            if (car.Description.Length <= 30)
                                            {
                                                charsAllowed = description;
                                            }
                                            else
                                            {
                                                charsAllowed = description.Substring(0, 32) + " ...";
                                            }

                                            @charsAllowed
                                        }
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group" style="padding-bottom: 25px;">
                                            <a class="btn btn-sm btn-outline-secondary" asp-controller="Home" asp-action="Detail" asp-route-id="@car.Id">View</a>
                                            @if (userId != null && userId == car.UserId)
                                            {
                                                <a asp-controller="Home" asp-action="Edit" asp-route-id="@car.Id" type="button" class="btn btn-sm btn-outline-primary">Edit</a>
                                            }
                                            @if (userId != null && userId == car.UserId)
                                            {

                                                <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#deleteCarModal_@car.Id">
                                                    Delete
                                                </button>   


                                                <div class="modal fade" id="deleteCarModal_@car.Id" tabindex="-1" role="dialog" aria-labelledby="deleteCarModalTitle" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="deleteCarModalTitle">Confirm deletion</h5>
                                                                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                Are you sure you want to delete the listing
                                                                @{
                                                                    @string.Concat(car.Brand, " ", car.Model, " ", car.ManufacturingYear)
                                                                }
                                                                ?
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                                                <button onclick="deleteCar(@car.Id)" class="btn btn-danger">Confirm deletion</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            }

                                        </div>
                                    </div>
                                    <div class="text-start">
                                        <small class="text-muted text-nowrap" style="font-size: 12px; margin-left: 5px;">
                                            @{
                                                var serverTimeZone = TimeZoneInfo.FindSystemTimeZoneById("Central European Standard Time");
                                                var localTime = TimeZoneInfo.ConvertTimeFromUtc(car.CreatedAt, serverTimeZone);
                                                @FormatDate.TimeAgo(localTime, serverTimeZone)
                                            }

                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                @if(Model != null && Model.Cars.Count() > 0)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <a asp-controller="Home" asp-action="Create" class="create-listing-btn-first">
                                <i class="bi bi-plus" style="font-size: 1.5em;"></i>
                                <span>Create New Listing</span>
                            </a>
                        </div>
                    </div>
                }


            </div>

        </div>
    </div>
</article>
<script>
    const deleteCar = (carId) => {
        $.ajax({
            url: '/Home/Delete/' + carId,
            type: 'POST',
            success: () => location.reload(),
            error: () => window.location.href = '/Home/Index'
        });
    }
</script>
